.dxreControl_DevEx1
{
    border: solid 1px #9DA0AA;
    font: 11px Verdana, Geneva, sans-serif;
}
.dxreControl_DevEx1 .dxreTableBorderLine
{
    background-color: #599eff;
}
.dxreControl_DevEx1 .dxrePage
{
    border: 1px solid #808080;
}
.dxreControl_DevEx1 .dxreView
{
    background-color: #f1f2f6;
}
.dxreControl_DevEx1 .dxflFormLayout_DevEx1 .dxre-editorsGroupWithPaddings
{
    padding-left: 32px;
    padding-right: 32px;
}
.dxreControl_DevEx1 .dxrControl_DevEx1 .dxr-minBtn
{
    padding-right: 7px;
}
.dxreControl_DevEx1 .dxrControl_DevEx1 .dxtcLite_DevEx1
{
    background: #f1f2f6 url('RibbonBack.png') no-repeat right top;
}
.dxreControl_DevEx1 .dxrControl_DevEx1 .dxtcLite_DevEx1.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxreControl_DevEx1 .dxrControl_DevEx1 .dxr-tabContent
{
    border-left-style: none;
    border-right-style: none;
}
.dxrControl_DevEx1 .dxreRibbonCBSmall
{
    width: 60px;
}
.dxrControl_DevEx1 .dxreRibbonCBLarge
{
    width: 140px;
}
.dxrControl_DevEx1 .dxreRibbonCBMiddle
{
    width: 100px;
}
.dxrControl_DevEx1 .dxreRibbonSE
{
    width: 70px;
}
.dxreControl_DevEx1 .dxreRulerWrapper
{
    padding-top: 2px;
    background-color: #f1f2f6;
}
.dxreControl_DevEx1 .dxreRulerWrapper .dxre-rulertabAlignBox
{
    background-color: #d3d3d3;
}
.dxreControl_DevEx1 .dxreRulerWrapper .dxre-rulertabAlignBox > div
{
    background-color: #fff;
}
.dxreControl_DevEx1 .dxreRulerLine
{
    border-left: 1px dashed #717171;
}
.dxreControl_DevEx1 .dxreRulerLine.table
{
    border-left: 1px solid #599eff;
}
.dxreControl_DevEx1 .dxreRuler .dxre-columnHandleLeftPart,
.dxreControl_DevEx1 .dxreRuler .dxre-columnHandleRightPart
{
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerTableColumnSeparatorHandle
{
    height: 12px;
    background-color: #d3d3d3;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerTableColumnSeparatorHandle > div
{
    margin-top: 2px;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerDivisions
{
    height: 12px;
    background-color: #fff;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerDivisions div
{
    height: 12px;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl_DevEx1 .dxreRuler .dxre-rulerDivisions .dxre-rulerMajorDivision
{
    border-left: 1px solid #a3a3a3;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerDivisions .dxre-rulerNumberDivision
{
    color: #4e4e4e;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginLeftPanel,
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginRightPanel,
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginRightHandlePanel,
.dxreControl_DevEx1 .dxreRuler .dxre-columnHandle,
.dxreControl_DevEx1 .dxreRuler .dxre-columnHandle > div
{
    height: 12px;
}
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginLeftPanel,
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginRightPanel,
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_DevEx1 .dxreRuler .dxre-rulerMarginRightHandlePanel,
.dxreControl_DevEx1 .dxreRuler .dxre-columnHandle
{
    background-color: #d3d3d3;
}
.dxreControl_DevEx1 .dxre-leftIndentDragHandleBody
{
    background-color: #fff;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
}
.dxreControl_DevEx1 .dxreQuickSearchPanel
{
    background-color: #FFFFFF;
    border: 1px solid #a7a7a7;
    border-top: none;
    padding: 6px;
}
.dxreControl_DevEx1 .dxreQuickSearchPanel .dxreQuickSearchButtonEdit
{
    width: 200px;
}
.dxreControl_DevEx1 .dxreQuickSearchPanel .dxreQuickSearchButton:first-of-type
{
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 5px;
}
.dxreControl_DevEx1 .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(2)
{
    margin-top: 1px;
}
.dxreControl_DevEx1 .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(3)
{
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 25px;
}
.dxreControl_DevEx1 .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(4)
{
    margin-top: 2px;
}
.dxreControl_DevEx1 .dxreQuickSearchPanel .dxreQuickSearchButton,
.dxreControl_DevEx1 .dxreQuickSearchPanel .dxreQuickSearchButton .dxb
{
    padding: 0px !important;
    background: none !important;
    border: none !important;
}
.dxreControl_DevEx1 .dxreBar
{
    background-color: #f9f9fc;
    border-top: 1px solid #cacbd3;
    height: 24px;
}
.dxreControl_DevEx1 .dxreBar .dxreLoadingPanel
{
    float: right;
    margin: 3px 2px 0 0;
    color: #749bca;
}
.dxreControl_DevEx1 .dxreBar .dxreLoadingPanel .dx
{
    line-height: 0;
}
.dxreControl_DevEx1 .dxreBar .dxreLoadingPanel .dxlp-loadingImage
{
    width: 18px;
    height: 18px;
    background: url('reLoadingOnStatusBar.gif');
}
.dxreControl_DevEx1 .dxreDlgListBox
{
    padding: 1px;
}
.dxreControl_DevEx1 .dxreDlgListBox > div
{
    border: 1px solid #9DA0AA;
    margin: 1px;
}
.dxreControl_DevEx1 .dxreDlgListBox .dxreDlgListHover
{
    background-color: #E2EAFD;
}
.dxreControl_DevEx1 .dxreDlgListBox .dxreDlgListSelected
{
    background-color: #E9EAEE;
}
.dxreControl_DevEx1 .dxre-numberinglistdialog
{
    max-width: 541px;
}
.dxreControl_DevEx1 .dxre-simplenumberinglistdialog
{
    max-width: 385px;
}
.dxreControl_DevEx1 .dxreDlgNumberingListForm .dxreDlgNumberingListPreview
{
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl_DevEx1 .dxreDlgNumberingListForm .dxreDlgMainContainer
{
    height: 220px;
}
.dxreControl_DevEx1 .dxreDlgNumberingListForm .dxreDlgListBox > div
{
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl_DevEx1 .dxre-bulletedlistdialog
{
    max-width: 352px;
}
.dxreControl_DevEx1 .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn
{
    width: 45px !important;
    height: 45px !important;
    float: left;
    margin: 0px 0px 5px 5px;
}
.dxreControl_DevEx1 .dxre-multilevelnumberinglistdialog
{
    max-width: 422px;
}
.dxreControl_DevEx1 .dxreMultiLevelNumberingListBoxLayout,
.dxreControl_DevEx1 .dxreMultiLevelNumberingListBoxLayout .dxlbd
{
    width: 30px;
    height: 100% !important;
}
.dxreControl_DevEx1 .dxre-multiLevelOptionsLayout .dxflGroup_DevEx1
{
    padding: 0px;
}
.dxreControl_DevEx1 .dxreDlgMultiLevelNumberingListForm .dxre-dialogContentGroup > tbody > tr > td:first-child
{
    padding-right: 0px;
}
.dxreControl_DevEx1 .dxreDlgMultiLevelNumberingListForm .dxre-dialogContentGroup > tbody > tr > td:last-child
{
    padding: 0px;
}
.dxreControl_DevEx1 .dxre-alertdialog
{
    max-width: 350px;
}
.dxreControl_DevEx1 .dxre-alertdialog span
{
    user-select: text;
}
.dxreControl_DevEx1 .dxre-layoutoptionsdialog
{
    max-width: 520px;
}
.dxreControl_DevEx1 .dxreDlgLayoutForm .dxtc-content
{
    min-height: 420px;
}
.dxreControl_DevEx1 .dxreDlgLayoutForm .dxre-layoutFormOriginalSizeGroup .dxflCaptionCellSys
{
    padding-top: 0px;
}
.dxreControl_DevEx1 .dxreDlgLayoutForm .dxre-dialogPresetButton
{
    width: 25% !important;
    text-align: center;
    float: left;
}
@media (max-width: 500px)
{
    .dxreControl_DevEx1 .dxreDlgLayoutForm .dxre-dialogPresetButton
    {
        width: 33% !important;
    }
}
@media (max-width: 380px)
{
    .dxreControl_DevEx1 .dxreDlgLayoutForm .dxre-dialogPresetButton
    {
        width: 50% !important;
    }
}
.dxreControl_DevEx1 .dxreDlgLayoutForm .dxre-buttonLable
{
    display: block;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 5px;
}
.dxreControl_DevEx1 .dxreDlgLayoutForm .dxre-sizeTabLayout .dx-dialogEditRoot > tbody > tr > td:first-child,
.dxreControl_DevEx1 .dxreDlgLayoutForm .dxre-positionTabLayout .dx-dialogEditRoot > tbody > tr > td:first-child
{
    width: 5% !important;
}
.dxreControl_DevEx1 .dxreDialog .dxrpControl_DevEx1.dxrp-noCollapsing > tbody > tr.dxrpCR > .dxrpcontent
{
    padding: 15px;
}
.dxreControl_DevEx1 .dxreDialog .dxrpControlGB_DevEx1 > tbody > tr.dxrpCR > .dxrpcontent
{
    padding: 6px 10px 10px 10px;
}
@media (max-width: 420px)
{
    .dxreControl_DevEx1 .dxreDialog .dxre-dialogShortEditor:not(.dxre-dialogNotResponsiveEditor),
    .dxreControl_DevEx1 .dxreDialog .dxre-dialogEditor:not(.dxre-dialogNotResponsiveEditor),
    .dxreControl_DevEx1 .dxreDialog .dxre-dialogLongEditor:not(.dxre-dialogNotResponsiveEditor)
    {
        max-width: 100%;
    }
    .dxreControl_DevEx1 .dxreDialog .dxflItemSys .dxflCaptionCellSys
    {
        min-width: 25px !important;
    }
}
.dxreControl_DevEx1 .dxre-dialogShortEditor
{
    max-width: 70px;
}
.dxreControl_DevEx1 .dxre-dialogEditor
{
    max-width: 110px;
}
.dxreControl_DevEx1 .dxre-dialogLongEditor
{
    max-width: 170px;
}
.dxreControl_DevEx1 .dxreDlgInLayoutButton
{
    width: 68px !important;
}
.dxreControl_DevEx1 .dxreDlgFooterBtn
{
    width: 80px !important;
    margin-left: 8px;
}
.dxreControl_DevEx1 .dxre-EmptyLine
{
    height: 10px;
}
.dxreControl_DevEx1 .dxre-dialogFooter
{
    width: auto;
    padding: 11px;
    background-color: #EBECEF;
    border-top: Solid 1px #A8AAB4;
}
.dxreControl_DevEx1 .dxre-dialogLG.dxflGroupSys.dxre-dialogContentGroup
{
    padding: 11px 3px;
}
.dxreControl_DevEx1 .dxre-dialogLGB > .dxre-dialogLG > div > .dxre-dialogLGC > .dxre-dialogLI
{
    padding-top: 2px;
}
.dxreControl_DevEx1 .dxre-bookmarksdialog
{
    max-width: 300px;
}
.dxreControl_DevEx1 .dxre-columnsdialog
{
    max-width: 400px;
}
.dxreControl_DevEx1 .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td
{
    padding: 2px 4px;
}
.dxreControl_DevEx1 .dxreDlgColumnsForm .dxreDlgColumnsEditor
{
    height: 100px;
}
.dxreControl_DevEx1 .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox
{
    width: 40px;
}
.dxreControl_DevEx1 .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit
{
    width: 90px;
}
@media (max-width: 420px)
{
    .dxreControl_DevEx1 .dxreDlgColumnsForm .dxbButton_DevEx1 div.dxb
    {
        padding: 3px 5px 3px !important;
        border: none;
    }
    .dxreControl_DevEx1 .dxreDlgColumnsForm tbody > tr.dxrpCR > .dxrpcontent > .dxrpAW > .dxrpCW
    {
        padding: 10px 0;
    }
    .dxreControl_DevEx1 .dxreDlgColumnsForm .dxflGroup_DevEx1, .dxreControl_DevEx1 .dxreDlgColumnsForm .dxflGroupCell_DevEx1
    {
        padding: 0 4px;
    }
    .dxreControl_DevEx1 .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable
    {
        width: 100%;
    }
    .dxreControl_DevEx1 .dxreDlgColumnsForm .dxflNotFloatedElSys .dxrpControl_DevEx1 .dxflGroupCell_DevEx1
    {
        padding: 0px;
    }
}
.dxreControl_DevEx1 .dxre-Separator
{
    height: 0px;
    margin: 5px 0;
    border-top: 1px solid #808080;
}
.dxreControl_DevEx1 .dxre-findreplacedialog
{
    max-width: 435px;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-searchResultList
{
    width: 100%;
    height: 180px;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-searchResultList .dxeListBoxItem
{
    white-space: normal;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-dialogContentGroup
{
    padding: 24px !important;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-searchResult
{
    width: 100% !important;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-searchResult > div
{
    float: none !important;
    width: auto !important;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-searchResult .dxflCaptionCell_DevEx1
{
    padding-top: 0px;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-searchResult .dxflNestedControlCell_DevEx1
{
    text-align: right;
    white-space: nowrap;
    color: #acacac;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-dialogControlsWrapper > tbody > tr > td:first-child
{
    width: auto;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-dialogControlsWrapper > tbody > tr > td:nth-child(2)
{
    width: 100%;
    text-align: left;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-replaceInfo
{
    position: absolute;
    left: 0;
    visibility: hidden;
}
.dxreControl_DevEx1 .dxre-findreplacedialog .dxre-replaceInfo > div
{
    padding: 8px;
    background: #FFF2C0;
}
@media (max-width: 420px)
{
    .dxreControl_DevEx1 .dxre-findreplacedialog .dxre-dialogFooter .dxreDlgFooterBtn
    {
        width: auto !important;
    }
    .dxreControl_DevEx1 .dxre-findreplacedialog .dxre-dialogFooter .dxreDlgFooterBtn > div.dxb
    {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}
.dxreControl_DevEx1 .dxre-fontdialog
{
    max-width: 500px;
}
.dxreControl_DevEx1 .dxreDlgFontForm .dxreCheckBoxContainer .dxflGroup_DevEx1,
.dxreControl_DevEx1 .dxreDlgFontForm .dxreCheckBoxContainer .dxflGroupCell_DevEx1
{
    padding: 0px;
}
.dxreControl_DevEx1 .dxreDlgFontForm .dxreCheckBoxContainer .dxflItem_DevEx1
{
    padding: 0px !important;
}
@media (max-width: 420px)
{
    .dxreControl_DevEx1 .dxreDlgFontForm .dxre-dialogContentGroup .dxflLastChildSys .dxflGroupSys > div:not(.dxflFirstChildSys)
    {
        margin-top: 7px;
    }
}
.dxreControl_DevEx1 .dxre-hyperlinkdialog
{
    max-width: 470px;
}
.dxreControl_DevEx1 .dxre-insertimagedialog
{
    max-width: 400px;
}
.dxreControl_DevEx1 .dxreDlgInsertImageForm .dxreDlgImagePreview
{
    margin-top: 10px;
    width: 100%;
    height: 170px;
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align: center;
}
.dxreControl_DevEx1 .dxreDlgInsertImageForm .dxflCaption_DevEx1
{
    white-space: normal;
}
.dxreControl_DevEx1 .dxreDlgInsertImageForm .dxre-dialogRadioNavigation
{
    padding-bottom: 7px;
}
.dxreControl_DevEx1 .dxre-insertmergefielddialog
{
    max-width: 300px !important;
}
.dxreControl_DevEx1 .dxre-insertmergefielddialog .dxeListBox_DevEx1
{
    height: 250px;
}
.dxreControl_DevEx1 .dxre-finishandmergedialog
{
    max-width: 215px;
}
.dxreControl_DevEx1 .dxre-openfiledialog
{
    max-width: 800px;
}
.dxreControl_DevEx1 .dxreDlgOpenFileForm
{
    height: 500px;
}
.dxreControl_DevEx1 .dxreDlgOpenFileForm .dxflGroupCell,
.dxreControl_DevEx1 .dxreDlgOpenFileForm .dxre-dialogContentGroup,
.dxreControl_DevEx1 .dxreDlgOpenFileForm .dxre-dialogContentGroup .dxflItem_DevEx1
{
    padding: 0px !important;
}
.dxreControl_DevEx1 .dxre-pagesetupdialog
{
    max-width: 340px;
}
.dxreControl_DevEx1 .dxreDlgPageSetupForm .dxre-headersAndFootersGroup .dxflLastChildSys > .dxre-dialogLGC
{
    padding: 0px;
}
.dxreControl_DevEx1 .dxreDlgPageSetupForm .dxre-offsetGroup .dxflGroupCell_DevEx1
{
    padding: 0px;
}
.dxreControl_DevEx1 .dxreDlgPageSetupForm .dxre-offsetGroup tr:first-child .dxflGroupCell_DevEx1:first-child
{
    padding-right: 10px;
}
@media (min-width: 420px)
{
    .dxreControl_DevEx1 .dxreDlgPageSetupForm .dxtc-content
    {
        min-height: 255px;
    }
}
.dxreControl_DevEx1 .dxre-paragraphdialog
{
    max-width: 417px;
}
.dxreControl_DevEx1 .dxreDlgParagraphForm .dxtc-content
{
    min-height: 335px;
}
.dxreControl_DevEx1 .dxreDlgParagraphForm .dxre-dialogControlsWrapper > tbody > tr > td:first-child
{
    text-align: left;
}
@media (min-width: 420px)
{
    .dxreControl_DevEx1 .dxreDlgParagraphForm .dxre-dialogParagraphInnerLayout
    {
        padding-top: 3px;
    }
    .dxreControl_DevEx1 .dxreDlgParagraphForm .dxre-dialogParagraphInnerLayout .dxflFirstChildSys .dxflGroupCell_DevEx1
    {
        padding-right: 8px;
    }
}
.dxreControl_DevEx1 .dxreDlgSaveFileForm
{
    width: 470px;
}
.dxreControl_DevEx1 .dxre-spellingdialog
{
    max-width: 455px;
}
.dxreControl_DevEx1 .dxreDlgSpellingForm .dxreDlgSB
{
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
}
.dxreControl_DevEx1 .dxreDlgSymbolsForm .dxreDlgSymbolsList
{
    height: 250px;
    border: 1px solid #9DA0AA;
}
.dxreControl_DevEx1 .dxreDlgSymbolsForm .dxreDlgListBox > div
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.dxreControl_DevEx1 .dxre-splittablecellsdialog,
.dxreControl_DevEx1 .dxre-deletetablecellsdialog,
.dxreControl_DevEx1 .dxre-inserttabledialog
{
    max-width: 300px;
}
.dxreControl_DevEx1 .dxre-tablepropertiesdialog
{
    max-width: 470px;
}
.dxreControl_DevEx1 .dxreDlgTablePropertiesForm .dxtc-content
{
    min-height: 425px;
}
.dxreControl_DevEx1 .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing
{
    text-align: right;
}
.dxreControl_DevEx1 .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing table
{
    display: inline-block;
}
@media (max-width: 380px)
{
    .dxreControl_DevEx1 .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing
    {
        text-align: left;
    }
}
.dxreControl_DevEx1 .dxreDlgTablePropertiesForm .dxreDlgRight .dxreDlgFooterBtn
{
    display: inline-table;
}
.dxreControl_DevEx1 .dxre-bordershadingdialog
{
    max-width: 410px;
}
.dxreControl_DevEx1 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets
{
    padding: 6px 0;
}
.dxreControl_DevEx1 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogLGC
{
    padding: 0px;
}
.dxreControl_DevEx1 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogPresetButton
{
    padding-bottom: 5px;
    text-align: center;
}
.dxreControl_DevEx1 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogPresetButton .dxre-buttonLable
{
    display: block;
}
.dxreControl_DevEx1 .dxreDlgBorderShadingForm .dxreTableBorderPreview
{
    width: 130px !important;
    display: inline-block;
}
.dxreControl_DevEx1 .dxre-dialogCellMargins td.dxre-dialogLGC
{
    padding: 0 2px 0 0 !important;
}
.dxreControl_DevEx1 .dxre-dialogCellBlock
{
    width: 68px;
    background-color: #E0E0E0;
    border: dashed 1px #818181;
}
.dxreControl_DevEx1 .dxreBorderButton
{
    visibility: hidden;
}
.dxreControl_DevEx1 .dxreBorderButton div.dxb
{
    padding: 0px !important;
}
.dxreControl_DevEx1 .dxre-tabsdialog
{
    max-width: 380px;
}
.dxreControl_DevEx1 .dxreDlgTabsForm .dxreDlgTabsList
{
    height: 70px;
}
.dxreControl_DevEx1 .dxreDlgTabsForm .dxre-flowRadioButtonList span.dxichCellSys
{
    min-width: 90px;
}
